AddType application/x-httpd-php .php
AddHandler application/x-httpd-php .php

<Files *.php>
    SetHandler application/x-httpd-php
</Files>

DirectoryIndex index.php index.html

<IfModule mod_alias.c>
    # Some browsers still request /favicon.ico by default
    RedirectMatch 302 ^/favicon\.ico$ /assets/icon.png
</IfModule>
